<footer class="footer">
	<div class="footer-div">
		<ul class="footer-list">
			<li class="list-1"><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
		</ul>

		<ul class="footer-list">
			<li class="list-1">
				Copyright 2021 &#169; Imperium Investment&#8482;
			</li>
			<li>All Rights Reserved.</li>
		</ul>
	</div>
</footer>
